<footer class="bgfooter-color py-5">

    <div class="container">
        <section class="text-white">
            <div class="row w-75 mx-auto d-flex align-items-center justify-content-between">
                <div class="col-md-4">
                    <div class="d-flex justify-content-between">
                        <img src={{imagesList.logo}} class="w-50" alt="logo">
                        <div class="border border-2 border-bottom-0 border-top-0 border-start-0"></div>
                    </div>
                </div>
               <div class="col-md-7 offset-1">
                <div class="d-flex align-items-center mt-md-0 mt-3">
                    <p class="m-0">Signup For NewsLetters</p>
                    <div class="d-flex ms-3">
                        <input type="email" class="form-control" placeholder="Email address...">
                        <button class="btn text-white"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
               </div>
            </div>
            <hr class="my-5">
    
        </section>
    
        <section class="row text-white">
            <div class="col-md-3">
                <div class="item mt-3">
                    <h6>About Us</h6>
                    <div class="d-flex my-2">
                        <div class="borderr"></div>
                        <div class="borderr1"></div>
                    </div>
                    <p class="text-secondary">Containing Lorem ipsum passages, and more recently with desktop publishing  software like  aldus pagemarker</p>
                    <div class="d-flex align-items-center mt-3">
                        <div class="circle-icon mx-2"><i class="mx-2 fa-brands fa-facebook-f"></i></div>
                        <div class="circle-icon mx-2"><i class="mx-2 fa-brands fa-twitter"></i></div>
                        <div class="circle-icon mx-2"><i class="mx-2 fa-brands fa-pinterest-p"></i></div>
                        <div class="circle-icon mx-2"><i class="mx-2 fa-brands fa-linkedin-in"></i></div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="item mt-3">
                    <h6>Useful Link</h6>
                    <div class="d-flex my-2">
                        <div class="borderr"></div>
                        <div class="borderr1"></div>
                    </div>
                    <div class="d-flex align-items-center text-secondary">
                        <i class="me-2 fa-solid fa-angle-right"></i>
                        <p class="m-0">Equipment Install</p>
                    </div>
                    <div class="d-flex align-items-center mt-2 text-secondary">
                        <i class="me-2 fa-solid fa-angle-right"></i>
                        <p class="m-0">Pressure Wash</p>
                    </div>
                    <div class="d-flex align-items-center mt-2 text-secondary">
                        <i class="me-2 fa-solid fa-angle-right"></i>
                        <p class="m-0">Services Speciatly</p>
                    </div>
                    <div class="d-flex align-items-center mt-2 text-secondary">
                        <i class="me-2 fa-solid fa-angle-right"></i>
                        <p class="m-0">Pool Maintenance</p>
                    </div>
                    <div class="d-flex align-items-center mt-2 text-secondary">
                        <i class="me-2 fa-solid fa-angle-right"></i>
                        <p class="m-0">Drain & Clean</p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="item mt-3">
                    <h6>Support</h6>
                    <div class="d-flex my-2">
                        <div class="borderr"></div>
                        <div class="borderr1"></div>
                    </div>
                    <div class="d-flex align-items-center text-secondary">
                        <i class="me-2 fa-solid fa-angle-right"></i>
                        <p class="m-0">Privacy Policy</p>
                    </div>
                    <div class="d-flex align-items-center mt-2 text-secondary">
                        <i class="me-2 fa-solid fa-angle-right"></i>
                        <p class="m-0">Support</p>
                    </div>
                    <div class="d-flex align-items-center mt-2 text-secondary">
                        <i class="me-2 fa-solid fa-angle-right"></i>
                        <p class="m-0">Disclaimer</p>
                    </div>
                    <div class="d-flex align-items-center mt-2 text-secondary">
                        <i class="me-2 fa-solid fa-angle-right"></i>
                        <p class="m-0">FAQ</p>
                    </div>
                    <div class="d-flex align-items-center mt-2 text-secondary">
                        <i class="me-2 fa-solid fa-angle-right"></i>
                        <p class="m-0">Terms & Conditions</p>
                    </div>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="item mt-3">
                    <h6>Contact Us</h6>
                    <div class="d-flex my-2">
                        <div class="borderr"></div>
                        <div class="borderr1"></div>
                    </div>
                    <div class="text-secondary">
                        <p class="m-0">Call Us Now + 000 2456</p>
                    </div>
                    <div class="mt-2 text-secondary">
                        <p class="m-0">1456 info&#64;Example.com</p>
                    </div>
                    <div class="mt-2 text-secondary">
                        <p class="m-0">MineLab Head Office, ABC</p>
                    </div>
                    <div class="mt-2 text-secondary">
                        <p class="m-0">125666, UK</p>
                    </div>
                </div>
            </div>
        </section>

        
    </div>
    
</footer>
<section class="Copyright text-center text-white">
    <p class="m-0 py-2">Copyright &#169; 2024. all rights reserved</p>
</section>