<header>
    <div class="courses-header d-flex justify-content-center align-items-center text-white text-uppercase">
       <div class="text-center">
            <h3>about us</h3>
            <p>
                <a class="text-decoration-none text-white" routerLink="/">home </a>
                <i class="fa-solid fa-angle-right ms-2"></i><i class="fa-solid fa-angle-right me-2"></i>
                <a class="text-decoration-none text-white" routerLink="/about">about </a>
            </p>
        </div>
    </div>
</header> 

<section class="py-70">
    <div class="container">
        <div class="row w-80 mx-auto">
            <div class="col-md-6">
                <div class="item">
                    <div class="d-flex align-items-center">
                        <div class="border-courses me-2"></div>
                        <p class="h6 m-0">ABOUT US</p>
                    </div>
                    <h3 class="my-3">Enjoy Your Learning To <br> Swim Together</h3>
                    <p class="text-muted fs-sm">Excepteur sint occaecat cupidatat non proident sunt culpa qui <br>
                        officia deserunt mollit anim id est laborum. sed spiciatis unde <br>
                        mnis natus error inventore.
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="item-contact d-flex align-items-center">
                            <div class="icon text-white me-4">
                                <i class="fa-solid fa-plate-wheat"></i>
                            </div>
                            <div>
                                <h6>Our Mission</h6>
                                <p class="text-muted fs-sm m-0">Consectetur adipisicing elteincididunt <br>laboret dolore mangna</p>
                             </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="item-contact d-flex align-items-center">
                            <div class="icon text-white me-4">
                                <i class="fa-regular fa-clock"></i>
                            </div>
                            <div>
                                <h6>Successful History</h6>
                                <p class="text-muted fs-sm m-0">Consectetur adipisicing elteincididunt <br>laboret dolore mangna</p>
                             </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="item-contact d-flex align-items-center">
                            <div class="icon text-white me-4">
                                <i class="fa-solid fa-glasses"></i>
                            </div>
                            <div>
                                <h6>Modern Equipment</h6>
                                <p class="text-muted fs-sm m-0">Consectetur adipisicing elteincididunt <br>laboret dolore mangna</p>
                             </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="image">
                    <img src={{imagesList.childrens}} class="w-75" alt="childrens">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="item text-white h-100 py-70">
                    <i class="fa-solid fa-glasses fa-2xl"></i>
                    <h6 class="my-3">Swimming Equipment</h6>
                    <p class="para">Country to popular belief</p>
                    <p>Read More <span class=""></span></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item text-white h-100 py-70">
                    <i class="fa-solid fa-water-ladder fa-2xl"></i>
                    <h6 class="my-3">Water Slides And Flumes</h6>
                    <p class="para">Country to popular belief</p>
                    <p>Read More <span class=""></span></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item text-white h-100 py-70">
                    <i class="fa-solid fa-user-shield fa-2xl"></i>
                    <h6 class="my-3">Safe & Fun Environment</h6>
                    <p class="para">Country to popular belief</p>
                    <p>Read More <span class=""></span></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item text-white h-100 py-70">
                    <i class="fa-regular fa-credit-card fa-2xl"></i>
                    <h6 class="my-3">Payment Installments</h6>
                    <p class="para">Country to popular belief</p>
                    <p>Read More <span class=""></span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-70">
    <div class="container text-center">
        <div class="d-flex align-items-center justify-content-center">
            <div class="border-courses me-2"></div>
            <p class="h6 m-0">ABOUT US</p>
            <div class="border-courses ms-2"></div>
        </div>
        <h2 class="my-3">Our Professional Instructor</h2>
        <p class="text-muted">Wxcepteur sint occeacat cupidatat non prorident sunt culpa qui <br>
            officia deserunt mollit laborum.
        </p>
        <div class="instructor row g-4 w-80 mx-auto">
            <div class="col-md-4">
                <div class="item">
                    <div class="image position-relative">
                        <img src={{imagesList.person1}} class="w-100" alt="photo">
                        <div class="icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                    </div>
                    <h6 class="my-2">Kathryn Murphy</h6>
                    <p class="text-muted fs-sm m-0">Swim Instructor</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="image position-relative">
                        <img src={{imagesList.person2}} class="w-100" alt="photo">
                        <div class="icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                    </div>
                    <h6 class="my-2"> Esther Howard</h6>
                    <p class="text-muted fs-sm m-0">Swim Instructor</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <div class="image position-relative">
                        <img src={{imagesList.person3}} class="w-100" alt="photo">
                        <div class="icon">
                            <i class="fa-solid fa-share-nodes"></i>
                        </div>
                    </div>
                    <h6 class="my-2">Kathryn Murphy</h6>
                    <p class="text-muted fs-sm m-0">Swim Instructor</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testmonial py-70">
    <div class="contanier mb-5">
        <div class="row w-80 mx-auto">
            <div class="d-flex align-items-center">
                <div class="border-courses me-2"></div>
                <p class="h6 m-0 main-color">TESTMONIAL</p>
            </div>
            <h2 class="my-3">What Our Customers Say</h2>
            <p class="text-muted">Wxcepteur sint occeacat cupidatat non prorident sunt culpa qui <br>
                officia deserunt mollit laborum.
            </p>
        </div>
    </div>

    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <div class="container">
                <div class="row g-4">
                    <div *ngFor="let data of dataList1" class="col-md-6 ">
                        <div class="border testmonial-cardborder rounded-3 testmonial-card p-4">
                            <div class="card-header d-flex align-items-center">
                                <img src={{data.imagePath}} class="w-15 rounded-circle" alt="photo">
                                <div class="ms-3">
                                    <h6>{{data.userName}}</h6>
                                    <p class="text-lead m-0">{{data.title}}</p>
                                </div>
                            </div>
                            <p class="text-lead mb-4 mt-3 fs-sm">{{data.paragraph}}</p>
                            
                            <div class="stars d-flex align-items-center">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="m-0 mb-1 ms-2">(5.0)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="container">
                <div class="row g-4">
                    <div *ngFor="let data of dataList2" class="col-md-6 ">
                        <div class="border testmonial-cardborder rounded-3 testmonial-card p-4">
                            <div class="card-header d-flex align-items-center">
                                <img src={{data.imagePath}} class="w-15 rounded-circle" alt="photo">
                                <div class="ms-3">
                                    <h6>{{data.userName}}</h6>
                                    <p class="text-lead m-0">{{data.title}}</p>
                                </div>
                            </div>
                            <p class="text-lead mb-4 mt-3 fs-sm">{{data.paragraph}}</p>
                            
                            <div class="stars d-flex align-items-center">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="m-0 mb-1 ms-2">(5.0)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
   
</section>
