<section class="py-4 home-header">
    <div class="container my-5">
        <div class="row g-4 align-items-center text-white">
             <div class="col-md-6">
                <div class="item">
                    <h1>We Make You A Next Level Swimmer</h1>
                    <p class="">Passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or</p>
                    <div class="button-icon d-flex align-items-center">
                        <button>See The Course Offer</button>
                        <div class="play-icon d-flex justify-content-center align-items-center ms-5">
                            <i class="fa-solid fa-play"></i>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="image">
                    <img src={{imagesList.baby}} class="w-100" alt="photo">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-70">
    <div class="contanier">
        <div class="row w-80  g-4 mx-auto align-items-center"> 
            <div class="col-md-4 offset-1">
                <div class="images d-flex">
                    <div class="item1">
                        <img src={{imagesList.child6}} class="w-100 rounded-2 h-75" alt="photo">
                    </div>
                    <div class="item2">
                        <img src={{imagesList.child7}} class="w-100 rounded-2 h-75" alt="photo">
                    </div>
                    <div class="item3">
                        <img src={{imagesList.child8}} class="w-100 rounded-2 h-75" alt="photo">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="item">
                    <div class="d-flex align-items-center">
                        <div class="border-courses me-2"></div>
                        <p class="h6 m-0">ABOUT US</p>
                    </div>
                    <h3 class="my-3">Enjoy Your Learning To <br> Swim Together</h3>
                    <p class="text-muted fs-sm">Excepteur sint occaecat cupidatat non proident sunt culpa qui <br>
                        officia deserunt mollit anim id est laborum. sed spiciatis unde <br>
                        mnis natus error inventore.
                    </p>
                    <div class="d-flex align-items-center">
                        <div class="item-contact d-flex align-items-center">
                            <div class="icon text-white me-4">
                                <i class="fa-solid fa-plate-wheat"></i>
                            </div>
                            <div>
                                <h6>Our Mission</h6>
                                <p class="text-muted fs-sm m-0">Consectetur adipisicing elteincididunt <br>laboret dolore mangna</p>
                             </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="item-contact d-flex align-items-center">
                            <div class="icon text-white me-4">
                                <i class="fa-regular fa-clock"></i>
                            </div>
                            <div>
                                <h6>Successful History</h6>
                                <p class="text-muted fs-sm m-0">Consectetur adipisicing elteincididunt <br>laboret dolore mangna</p>
                             </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="item-contact d-flex align-items-center">
                            <div class="icon text-white me-4">
                                <i class="fa-solid fa-glasses"></i>
                            </div>
                            <div>
                                <h6>Modern Equipment</h6>
                                <p class="text-muted fs-sm m-0">Consectetur adipisicing elteincididunt <br>laboret dolore mangna</p>
                             </div>
                        </div>
                    </div>
                </div>
            </div> 
         </div>
    </div>
</section> 

<section class="py-70">
    <div class="container-fluid">
        <div class="row gx-0 gy-1">
            <div class="col-lg-4 col-md-6">
                <div class="card1">

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card2 text-white p-3">
                    <div class="d-flex align-items-center">
                        <div class="border-courses me-2"></div>
                        <p class="h6 m-0 main-color">ABOUT US</p>
                    </div>
                    <p class="h5 my-3">We Make You Next Level Swimmer</p>
                    <small>Excepteur sint occaecat cupidatat non proident sunt culpa qui
                        officia deserunt mollit anim id est laborum.
                    </small>
   
                    <div class="d-flex mt-4 align-items-center justify-content-between">
                        <ul>
                            <li>Experienced Staff</li>
                            <li class="my-2">Modern Equipment</li>
                            <li>Unique School</li>
                        </ul>
                        <ul>
                            <li>Modern Methods</li>
                            <li class="my-2">Personal Development</li>
                            <li>We Know Each Other</li>
                        </ul>
                    </div>

                    <hr>
                    <div class="d-flex align-items-center">
                        <div class="card-header d-flex align-items-center">
                            <img src={{imagesList.person1}} class="w-10 rounded-circle" alt="photo">
                            <div class="ms-3">
                                <small class="h6 d-block">Esther Howard</small>
                                <small class="text-lead">CEO, Swimclub</small>
                            </div>
                        </div>
                        <button id="btn"><small>Admission Now</small></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card3 d-flex flex-column justify-content-center align-items-center text-white text-center py-5 px-3">
                    <div class="text">
                        <p><span class="fs-1 main-color">50%</span> off</p>
                        <p class="">Each Courses</p>
                        <p>Excepteur sint occaecat cupidatat non proident sunt culpa qui
                            officia deserunt mollit anim</p>
                      </div>
                      <button>See The Course Offer</button>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="py-70">
    <div class="container">
        <div class="row w-80 mx-auto g-4 text-center">
            <div class="d-flex align-items-center justify-content-center">
                <div class="border-courses me-2"></div>
                <p class="h6 m-0 main-color">OUR COURSES</p>
                <div class="border-courses ms-2"></div>
            </div>
            <h2 class="my-3">Explore Our Courses</h2>
            <p class="text-muted">Wxcepteur sint occeacat cupidatat non prorident sunt culpa qui <br>
                officia deserunt mollit laborum.
            </p>
            <div *ngFor="let data of cardList" class="col-lg-4 col-md-6">
                <div class="item border p-1">
                  <div class="image position-relative">
                    <img src={{data.pathImage}} style="height: 160px;" class="rounded-2 rounded-bottom-0 w-100" alt="photo" />
                    <div class="title position-absolute">
                      <p class="mt-1"><span class="main-color fw-bold">${{data.price}}</span> / person</p>
                    </div>
                  </div>
                  <div class="item-body py-4 px-2">
                    <h6>{{data.title}}</h6>
                    <p class="fs-sm">{{data.paragraph}}</p>
                    <hr class="mt-5" />
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <i style="color: blue" class="fa-solid fa-users me-1"></i>
                        <span class="fs-sm">{{data.numberOfEnrolled}}</span>
                      </div>
                      <div>
                        <i style="color: blue" class="fa-solid fa-book me-1"></i>
                        <span class="fs-sm">{{data.numberOfLesson}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<section class="linear position-relative py-120 mb-50">
    <div class="layer1">
        <div class="contain-layer container">
            <div class="row w-80 mx-auto py-5 text-white text-center">
                <div class="col-md-4">
                    <div class="item">
                        <h3>453</h3>
                        <p>Happy Client</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <h3>24Y</h3>
                        <p>Years Of Experience</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item">
                        <h3>245</h3>
                        <p>Total Student</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="layer">
           
        </div>
    </div>
</section>

<section class="mb-50">
    <div class="w-80 mx-auto">
        <div class="imageee text-center d-flex justify-content-center align-items-center">
            <div class="bg-mainColor d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-play text-white ms-1"></i>
            </div>
        </div>
    </div>
</section>

<section class="testmonial py-70">
    <div class="contanier mb-5">
        <div class="row w-80 mx-auto">
            <div class="d-flex align-items-center">
                <div class="border-courses me-2"></div>
                <p class="h6 m-0 main-color">TESTMONIAL</p>
            </div>
            <h2 class="my-3">What Our Customers Say</h2>
            <p class="text-muted">Wxcepteur sint occeacat cupidatat non prorident sunt culpa qui <br>
                officia deserunt mollit laborum.
            </p>
        </div>
    </div>

    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <div class="container">
                <div class="row g-4">
                    <div *ngFor="let data of dataList1" class="col-md-6 ">
                        <div class="border testmonial-cardborder rounded-3 testmonial-card p-4">
                            <div class="card-header d-flex align-items-center">
                                <img src={{data.imagePath}} class="w-15 rounded-circle" alt="photo">
                                <div class="ms-3">
                                    <h6>{{data.userName}}</h6>
                                    <p class="text-lead m-0">{{data.title}}</p>
                                </div>
                            </div>
                            <p class="text-lead mb-4 mt-3 fs-sm">{{data.paragraph}}</p>
                            
                            <div class="stars d-flex align-items-center">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="m-0 mb-1 ms-2">(5.0)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="container">
                <div class="row g-4">
                    <div *ngFor="let data of dataList2" class="col-md-6 ">
                        <div class="border testmonial-cardborder rounded-3 testmonial-card p-4">
                            <div class="card-header d-flex align-items-center">
                                <img src={{data.imagePath}} class="w-15 rounded-circle" alt="photo">
                                <div class="ms-3">
                                    <h6>{{data.userName}}</h6>
                                    <p class="text-lead m-0">{{data.title}}</p>
                                </div>
                            </div>
                            <p class="text-lead mb-4 mt-3 fs-sm">{{data.paragraph}}</p>
                            
                            <div class="stars d-flex align-items-center">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="m-0 mb-1 ms-2">(5.0)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
   
</section>